/** define variables for color **/

$white: #fff;
$green: #7cbc48;
$black_light: #555555;
$black: #000000;
$gray_light: #cccccc;
$blue: #0db4e9;
$gray_border: #d8d8d8;
$black_text: #333333;
$error_bg: #ffecec;
$error_border: #f5aca6;
$status_bg: #e9ffd9;
$status_border: #a6ca8a;

/** define typography **/
